.navbar{
    background-color: #fff !important;
}
.navbar .container {
    flex-direction: column;
}
.logo{
    max-width: 150px;
    margin: 5px 0;
}
.nav-item a{
    font-size: 20px;
    margin: 10px 20px;
    position: relative;
    padding: 0 !important;
    transition: .3s;
}
.nav-item a:hover{
    color: #39C998 !important;
}
.nav-item a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #39C998;
    bottom: 0;
    left: 0;
    transition: .3s;
}
.active {
    color: #39C998 !important;
}
.nav-item a:hover::after{
    width: 100%;
}
@media (max-width: 991.98px){
    .navbar .container{
        flex-direction: row;
    }
    .nav-item a{
        display: inline-block;
    }
}